# quote
snippet ""
	\`\`${1}'' 
# quote and italic
snippet "i
	\`\`\textit{${1}}'' 
# verbatim
snippet verb
	\verb+${1}+ 
# footnote with url
snippet fnurl
	\footnote{\url{${1}}} 
# et~al.
snippet etal
	~et~al. 
# reference to figure
snippet figref
	Figure~\ref{$1} 
